/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and text color for the body */
body {
    background-color: #8D86C9; /* Light gray background color */
    color: #333;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center;
    background-color: #242038; /* Blue header background */
    color: #CAC4CE;
    text-align: center;
    padding: 10px; /* Reduce the top and bottom padding */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}

.header img {
    max-width: 40px;
    height: auto;
    margin: 0 10px; /* Add spacing between logos */
}

.header .text {
    flex: 1; /* Fill available space */
}

.header .logout a {
    text-decoration: none;
    color: #CAC4CE;
}

/* Style the main content section */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #CAC4CE;
    border: 1px solid #ddd;
    border-radius: 10px; /* Rounded corners for the main content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#submit-story-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

#story {
    max-width: 97%; /* Ensure the text area doesn't exceed the container width */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit-story-form input[type="text"],
#submit-story-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

#submit-button {
    background-color: #242038; /* Red button background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #242038; /* Darker red on hover */
}

/* Style the story display section */
#stories-container .story {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Rounded corners for story sections */
    background-color: #8D86C9; /* Light gray background */
    color: #000;
}

.author-name {
    font-weight: bold;
}

/* Style for all comment sections */
.comment {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #725AC1;
    border-radius: 10px;
    background-color: #f7ece1;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #242038;
    background-attachment: scroll;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.footer_contents {
    width: 1000px; /* Visible width of the footer */
    margin: auto;
}

@media (max-width: 768px) {
    main {
        margin: 10px;
    }
}
