/* Reset some default styles to ensure consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #8D86C9; /* Match the background color of the first design */
    color: #333; /* Match the text color of the first design */
}


/* Center the logo and text in the header */
header {
    background-color: #242038; /* Blue header background */
    color: #CAC4CE;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-text {
    text-align: center;
    /* Position the text at the center of the header-logo div */
    flex: 1;
}

.header-logo-picture img {
    max-width: 40px; /* Adjust the size as needed */
    height: auto;
}
/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Softer box shadow */
    border-radius: 5px;
    /* Center the form on small screens */
}
#login-form {
    text-align: center;
}



h2 {
    font-size: 24px;
    color: #333; /* Dark gray text */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better spacing */
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555; /* Slightly darker color on hover */
}

#error-message {
    margin-top: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    border-radius: 0 0 5px 5px; /* Rounded bottom corners */
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    main {
        margin: 10px;
    }

    .header-logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo-picture {
        margin-bottom: 10px;
    }
}
