/* Reset some default styles to ensure consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #8D86C9; /* Match the background color of the first design */
    color: #333; /* Match the text color of the first design */
}
/* Header styles */
.header {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center;
    background-color: #242038; /* Blue header background */
    color: #CAC4CE;
    text-align: center;
    padding: 10px; /* Reduce the top and bottom padding */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}

.header img {
    max-width: 40px;
    height: auto;
}
.utbm img {
    max-width: 80px;
    height: auto;
}

.header .text {
    flex: 1; /* Fill available space */
}

.header .logout a {
    text-decoration: none;
    color: #CAC4CE;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Softer box shadow */
    border-radius: 5px;
}

#register-form {
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333; /* Dark gray text */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better spacing */
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555; /* Slightly darker color on hover */
}

#error-message {
    margin-top: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #242038;
    background-attachment: scroll;

    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    height:24px; // Replace with the height your footer should be
width: 100%; // Don't change
background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;


}
.footer_contents {

    height:24px; // Replace with the height your footer should be
width: 1000px; // Visible width of footer
margin:auto;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    main {
        margin: 10px;
    }

    .header-logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo-picture {
        margin-bottom: 10px;
    }
}
